@tailwind base;
@tailwind components;
@tailwind utilities;

/* Remove light mode variables and set dark mode as default */
:root {
  --background: #0a0a0a; /* Dark background */
  --foreground: #ededed; /* Light text */
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
